<%- include('partials/header') %>

 <div class="container">
    <h2 class="mt-5">Uploaded Projects</h2>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% projects.forEach(project => { %>
          <tr>
            <td><%= project.projectName %></td>
            <td><%= project.projectDescription %></td>
            <td>
              <% if (project.fileId) { %>
                <!-- <div style="display: inline-block; margin-right: 5px; margin-bottom: 5px;">
                  <a class="btn btn-sm btn-primary" href="/download/<%= project._id %>">Download</a>
                </div> -->
                <div style="display: inline-block; margin-bottom: 5px;">
                  <a class="btn btn-sm btn-info" href="/edit/<%= project._id %>">Edit</a>
                </div>
                <form id="delete" action="/delete/<%= project._id %>?_method=DELETE" method="POST" style="display: inline;">
                  <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
              <% } else { %>
                No file uploaded
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <a class="btn btn-sm btn-primary" style="margin-bottom: 10px;" href="/admin">Back</a>
    <a class="btn btn-sm btn-danger" style="margin-bottom: 10px;" href="/logout">Logout</a>
  </div>

  
</ul>
<%- include('partials/footer') %>
