<%- include('partials/header') %>

<h2>Uploaded Projects</h2>
<ul>
  <% projects.forEach(project => { %>
    <li>
      <h3><%= project.projectName %></h3>
      <p><%= project.projectDescription %></p>
      <% if (project.fileId) { %>
        <a href="/download/<%= project._id %>">Download File</a>
     </form>
      <% } else { %>
        No file uploaded
      <% } %>
    </li>
  <% }) %>
</ul>
<%- include('partials/footer') %>
